doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' type='text/css' href='styles.css')
  style(type='text/css').
    /* We select all the document span elements and apply the color property with a white value */
    h1 {
    color:blue;
    font-size: 30px;
    text-align: center;
    }
    p {
    font-size: 25px;
    }
    span {
    font-size: 25px;
    }
    a {
        background: powderblue;
    }
h2
   a(href='index') Home
h1 About Us
p
  span
    | SaskGroup is a group of Nepalese people in Saskatchewan&nbsp;that conducts and supports community activities among Nepalese living in Regina. The mission of SaskGroup is to foster social, cultural and educational activities among its members and their dependents, promote Nepali culture and heritage in Saskatchewan and Canada. The major activities of SaskGroup are as follows:
ul
  li
    div
      span Activities for personal and community development.
  li
    div
      span Celebrate major Nepali festivals and Nepali New Year.
  
  li
    div
      span
        | Organize Nepali cultural programs to promote Nepal and Nepali heritage values in Saskatchewan.
  li
    div
      span
        | We respect other community cultures and values. Share our values to local communities and learn from other cultures.
  li
    div
      span Be part of Canadian multi-culturalism.
