doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style.
    * {
    box-sizing: border-box;
    }
    body {
    margin: 0;
    font-family: Arial;
    }
    /* The grid: Four equal columns that floats next to each other */
    .column {
    float: left;
    width: 15%;
    padding: 5px;
    }
    /* Style the images inside the grid */
    .column img {
    opacity: 0.8;
    cursor: pointer;
    }
    .column img:hover {
    opacity: 1;
    }
    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    /* The expanding image container */
    .container {
    position: relative;
    display: none;
    }
    /* Expanding image text */
    #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
    }
    /* Closable button inside the expanded image */
    .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    }
div(style='text-align:center')
  h2  Gallery
  p Click on the images below:
// The four columns
.row
  .column
    img(src='/images/download.jpeg'  style='width:100%' onclick='myFunction(this);')
  .column
    img(src='/images/diwali.jpg'  style='width:100%' onclick='myFunction(this);')
.container
  span.closebtn(onclick="this.parentElement.style.display='none'") &times;
  img#expandedImg(style='width:100%')
  #imgtext
script.
  function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
  }
