doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  style.
    li {
    color:royalblue;
    font-size: 18px;
    }
    a {
        color:green;
    }
h1 Year 2019
 ul(style='list-style-type:circle;')
  li New Year Celebration
  li Saskatoon_Regina match
  li Teej Celebration
  li Diwali Celebration
  li Dashain celebration
  li Deusi bhailo
  li Blood donation event
   
h2 
 a(href='gallery') Gallery
