doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title upcoming
  style.
    h1{
    color: saddlebrown;
    }
    li{
    color: seagreen;
    font-size: 20px;
    }
h1 Year 2019
ul(style='list-style-type:square;')
  li Christmas Party (2019 December 24)
  li Bowling Night (2019 December 31)
 
