h1 {
    color:blue;
    font-size: 38px;
    text-align: center;
    padding: 16px;
    }
    span {
    color: green;
    font-size: 28px;
    }
    a {
    color:green;
    background: black;
    padding: 13px;
    }
    p {
    color:black;
    font-size: 28px;
    }
    .right {
    color: black;
    text-align:justify;
    font: 1em sans-serif;
    font-size: 20px;
    text-indent: 12px;
    }
    a:hover, a:active {
        background-color:grey;
    }